<div class="jumbotron" style="margin-bottom:20px; padding-bottom:10px;">
	<div class="container">
		<h2 class="text-center"> Create New Post </h2>
	</div>
</div>

<form method="POST" action="http://blog.dev/post" accept-charset="UTF-8" role="form" style="max-width:350px; padding:10px;" class="center-block img-thumbnail" enctype="multipart/form-data">
	<div class="form-group">
		<label for="Title:">Title:</label>
		<input required="required" class="form-control" placeholder="Enter title" id="title" name="title" type="text">
	</div>
	<div class="form-group">
		<label for="Description:">Description:</label>
		<textarea required="required" class="form-control" rows="5" id="description" name="description" cols="50"></textarea>
	</div> 
	<div class="form-group">
		<label for="Choose Categories:">Choose Categories:</label>
		<div style="height:100px; overflow:scroll;">
			<div class="checkbox">
				<label><input name="category_2" type="checkbox" value="2"> Categoryhggh</label>
			</div>                       
		</div>
	</div>
	<div class="form-group">
		<label for="Choose Image:">Choose Image:</label>
		<input name="image" type="file">
	</div> 
	<div class="form-group text-center">
		<input class="btn btn-default" type="submit" value="Save!">
	</div>
</form>